* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-size: 15px;
  background: #ffffff;
  line-height: 1.5;
  color: #485070;
  font-weight: 400;
  font-family: "Inter", sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin-bottom: 15px;
  color: #3F3D52;
  margin-top: 0;
  line-height: 1.5;
  font-family: "Advent Pro", sans-serif;
}

p {
  margin-bottom: 15px;
  color: #485070;
}

/* Navbar */

.navbar-nav li {
  padding: 10px 10px;
}

.navbar-nav li a {
  font-size: 1rem;
  font-weight: 400;
  color: #ffffff !important;
  display: inline-block;
  position: relative;
}

.navbar-nav li a:hover {
  color: #ffffff !important;
}

.navbar-nav .nav-link.active {
  color: #ffffff !important;
}

.header.sticky li a {
  color: white !important;
}

.navbar-toggler:focus {
  box-shadow: none;
}

.navbar-nav .nav-link::after {
  background: none repeat scroll 0 0 transparent;
  bottom: 0;
  content: "";
  display: block;
  height: 2px;
  left: 50%;
  position: absolute;
  background: #ffffff;
  transition: width 0.3s ease 0s, left 0.3s ease 0s;
  width: 0;
}

.navbar-nav .nav-link:hover::after,
.navbar-nav .nav-link.active::after {
  width: 100%;
  left: 0;
}

ul.dropdown-menu {
  padding: 0;
}

.dropdown-menu li:hover,
.dropdown-menu li:hover a {
  background: white;
  color: #000001 !important;
}


.navbar-nav li a {
  font-size: 1rem;
  font-weight: 400;
  color: #000001;
}

.offcanvas {
  background-color: #030e14;
}

.offcanvas .navbar-nav .dropdown-menu {
  margin-top: 10px;
  border-radius: 8px;
}

.offcanvas .navbar-nav .dropdown-menu li,
.offcanvas .navbar-nav li {
  padding: 10px 0;
}

.offcanvas .navbar-nav .dropdown-menu li:hover,
.offcanvas .navbar-nav .dropdown-menu li:hover a {
  border-radius: 8px;
}

.dropdown-menu {
  background-color: #030e14;
  border-radius: 0px;
}

.dropdown-item {
  background: none !important;
}

.dropdown-menu li {
  padding: 6px 10px;
}

/* section */

.section-title {
  text-align: center;
  margin-bottom: 30px;
}

.section-title span {
  color: #2E3192;
}

.section-title h2,
.section-title h3,
.section-title span {
  font-weight: 500;
  font-size: 45.3943px;
  line-height: 53px;
}

.section-title p {
  font-size: 16px;
}

/* header */
.header {
  z-index: 999;
  background: transparent;
  position: absolute;
  width: 100%;
  padding: 15px 0;
  transition: all .6s;
}

header.sticky {
  padding: 0px 0px;
  position: fixed;
  width: 100%;
  z-index: 999;
  background: #2e3192;
}

header.sticky #navbarNav {
  border-bottom: 0px !important;
}

header.sticky img {
  transition: all 0.5s ease-in-out;
}

/* top banner */
.top-banner {
  background: url("/assets/images/top-banner.webp");
  background-size: cover;
  padding: 165px 0 40px;
  animation: mymove 500s linear infinite;
  position: relative;
}

.top-banner:after {
  content: "";
  background-image: url("/assets/images/vector.webp");
  background-repeat: no-repeat;
  background-position: bottom;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  opacity: 0.6;
}

@keyframes mymove {
  0% {
    background-position: -10000px 0px;
  }

  100% {
    background-position: 0px 0px;
  }
}

.top-banner .center-col {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
  z-index: 1;
  position: relative;
}

.top-banner .center-col h1 {
  letter-spacing: -1.94091px;
  font-weight: 500;
  font-size: 68.9193px;
  line-height: 65px;
  color: #F5F5F5;
  margin-bottom: 0;
}

.top-banner .center-col p {
  font-size: 1rem;
  line-height: 1.5;
  color: #ffffff;
  margin-bottom: 0;
}

.top-banner .center-col .rating-sec {
  display: flex;
  gap: 12px;
  align-items: center;
  justify-content: center;
  margin-bottom: 30px;
}

.top-banner .center-col .rating-sec p {
  font-weight: 500;
  font-size: 12px;
}

.top-banner .center-col .rating-sec span {
  font-weight: 400;
  font-size: 10.0281px;
  color: white;
}

.top-banner .center-col .rating-sec .star i {
  color: #00E984;
}

.top-banner .slider-sec {
  border: 0.4px solid rgba(255, 255, 255, 0.4);
  border-radius: 14px;
  padding: 12px;
  z-index: 1;
  position: relative;
}

.top-banner .slider-sec .slider-body {
  background: #ffffff26;
  border-radius: 14px;
  padding: 12px;
}

.top-banner .slider-sec .slider-body img {
  padding: 0px 8px;
}

/* end */

/* sec-two */
.sec-two {
  padding: 60px 0;
}

.sec-two .section-title {
  text-align: start;
}

.sec-two .btn-sec button {
  border-color: #2E3192;
  background: #2E3192;
  color: white;
}

.sec-two .btn-sec {
  margin-top: 30px;
}

.sec-two .btn-sec button:hover {
  background: transparent;
  color: #2E3192;
}

.sec-two .right {
  background-image: url("/assets/images/form-bg.webp");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  border-radius: 12px;
  padding: 30px 0 0;
}

.sec-two .right h3 {
  text-align: center;
  color: #e4ff00;
  font-size: 46px;
  font-weight: 700;
  line-height: 38px;
  background: #23298B;
  padding: 30px 0;
  margin-bottom: 0;
}

.sec-two .right .form-sec {
  padding: 30px;
  position: relative;
}

.sec-two .right .form-sec:before {
  content: "";
  position: absolute;
  top: 35%;
  left: 61%;
  transform: translate(-50%, -50%);
  height: 100%;
  width: 100%;
  background: url("/assets/images/top-form-gif.gif");
  background-repeat: no-repeat;
  z-index: 1;
  mix-blend-mode: lighten;
  filter: blur(4.0281px);
}

/* end */

/* sec-three */
.sec-three {
  background-color: #F8F9FF;
  padding: 60px 0;
  position: relative;
}

.sec-three .left-img,
.sec-three .right-img {
  position: absolute;
  width: 255px;
  height: 460px;
  top: 25px;
  left: 20px;
}

.sec-three .left-img>img,
.sec-three .right-img>img {
  animation: up 3s ease-in-out infinite;
}

.sec-three .right-img {
  right: 20px !important;
  left: auto;
}

.sec-three .center-col .book-list {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 12px;
}

.sec-three .center-col .book-list .book-list-inner {
  background-color: #FFFFFF;
  border: 1px solid #DFDFDF;
  border-radius: 7.6803px;
  padding: 18px;
  display: flex;
  align-items: center;
  gap: 16px;
  transition: all .3s;
  width: 32%;
  position: relative;
}

.sec-three .center-col .book-list .book-list-inner:hover {
  background-color: #2E3192;
}

.sec-three .center-col .book-list .book-list-inner:hover span {
  color: white;
}

.sec-three .center-col .book-list .book-list-inner>img,
.sec-three .center-col .book-list .book-list-inner .book-hover img {
  filter: brightness(0.1);
}

.sec-three .center-col .book-list .book-list-inner:hover>img {
  filter: brightness(0) invert(1);
}

.sec-three .center-col .book-list .book-list-inner span,
.sec-three .center-col .book-list .book-list-inner .book-hover h4 {
  color: #030303;
  font-weight: 500;
  font-size: 21px;
  font-family: "Advent Pro", sans-serif;
}

.sec-three .center-col .book-list .book-list-inner .book-hover h4 {
  margin-top: 15px;
  margin-bottom: 8px;
}

.sec-three .center-col .book-list .book-list-inner .book-hover p {
  font-size: 14px;
  margin-bottom: 0;
}

.sec-three .center-col .book-list .book-list-inner .book-hover {
  position: absolute;
  top: 0;
  background: #FFFFFF;
  box-shadow: 0px 5.39842px 13.496px rgba(0, 0, 0, 0.15);
  padding: 20px;
  width: 100%;
  z-index: 1;
  top: 80%;
  left: 45%;
  visibility: hidden;
}

.sec-three .center-col .book-list .book-list-inner:hover .book-hover {
  visibility: visible;
}


@keyframes up {
  0% {
    transform: translateY(0);
  }

  50% {
    transform: translateY(-16px);
  }

  100% {
    transform: translateY(0);
  }
}

/* end */

/* sec-four */
.sec-four {
  padding: 60px 0;
}

.sec-four .sec-four-box {
  border: 2.05278px solid #DFDFDF;
  border-radius: 10.2639px;
  padding: 30px;
  text-align: center;
  transition: all .3s;
}

.sec-four .sec-four-box i {
  color: #3ab781;
  font-size: 30px;
}

.sec-four .sec-four-box h4 {
  font-weight: 700;
  font-size: 20px;
}

.sec-four .sec-four-box p {
  font-size: 16px;
  margin-bottom: 0;
}

.sec-four .sec-four-box:hover h4,
.sec-four .sec-four-box:hover p {
    color: white;
}

.sec-four .sec-four-box:hover {
    background: #2e3192;
    border-color: #2e3192;
}

/* end */

/* form */
/* Works for Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.form-control {
  resize: none;
  display: block;
  width: 100%;
  padding: 16px 15px;
  font-size: 1rem;
  border-radius: 4px;
  font-weight: 400;
  line-height: 1.5;
  border: 2px solid #CED4DA;
  color: #ffffff !important;
  background-color: transparent;
}

.form-control:focus {
  background-color: transparent;
  border-color: #000000;
  box-shadow: none !important;
  outline: none !important;
}

::placeholder {
  color: white !important;
}

::-webkit-input-placeholder {
  color: white !important;
}

:-ms-input-placeholder {
  color: white !important;
}

/* end */

/* Button */

.btn-theme {
  border: 2px solid #ffffff;
  padding: 10px 35px;
  display: inline-block;
  font-weight: 600;
  background: #ffffff;
  color: #252888;
  transition: all ease-in-out 0.3s;
  font-size: 1rem;
  border-radius: 50px;
}

.btn-theme:hover {
  border: 2px solid #ffffff;
  background: transparent;
  color: #ffffff;
}

.btn-check:focus+.btn,
.btn:focus {
  outline: 0;
  box-shadow: none;
}

/* end */